
.footer {
    background-color: brown; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    position: relative; 
    bottom: 0; 
    width: 100%;
  }
  
  .footerContent {
    margin: 0;
  }
  